/* SignUp.css */
.signup-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #6a89cc, #37d5d6);
}
.sign-up-form {
  width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f2f4f8; /* Light blue-gray background */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
  position: relative;
  background-color: #e6e6e6; /* Light gray background */
}

/* Gradient overlay for a modern look */
.sign-up-form:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: linear-gradient(to right, #6a89cc, #37d5d6); /* Gradient color */
  border-radius: 10px;
  z-index: -1;
}

.sign-up-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
  background-color: #ffffff; /* White input background */
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555555;
}

.sign-up-form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(to right, #4a69bd, #3b5998); /* Gradient color */
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sign-up-form button:hover {
  background-color: #2c3e50; /* Darker blue on hover */
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.slider {
  width: 100%;
}
